.sidebar {
    height:100%;
    position: fixed;
    
    /* z-index: 1;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden; */
}

.ticket{
    margin-left: 15rem;
}

.employer{
    margin-left: 13rem;
}